body{
    background: linear-gradient(to bottom, rgb(255, 247, 250), rgb(255, 247, 250), #f7d6d9, #fad1d6, #ffbdc6, #ee9ca7, #e27a88, #e46274, #db2571)
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/*APARTADO DE LETRAS*/
p {
    margin: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 80%;
}

h1 { /*NOMBRE DE PAGINA*/
    font-family: 'Kaushan Script', cursive !important;
    font-size: 200% !important;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

h2 { /*"NUESTROS PRODUCTOS"*/
    font-family: 'VT323', monospace;
    font-size: 5ch !important;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 5ch;
}

h3{ /*"ACCEDER", "REGISTRARSE", "PAGINA EN CURSO"*/
    font-family: 'Fjalla One', sans-serif;
    display: flex;
        justify-content: center;
}

h4{ /* Articulos de venta: ropa, merceria, etc*/
    font-family: 'Gabarito', sans-serif !important;
    margin: 0;
    font-size: 0.8em;
}

.h5 { /* Nombre del vendedor*/
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 5px;
    
}

.footer h6 { /* Mi nombre */
    font-family: 'Bricolage Grotesque', sans-serif !important;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/*MODAL - FORMULARIO: REGISTRARSE Y ACCEDER*/

#modal::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
}

.formulario {
    width: 50ch; /*Esto me deja responsive el contenido dentro del modal. No pongo un height porque sino se me rompe todo*/
    margin: auto; /* Esto me lo centra*/
    padding: 20px; /*Mejora el espacio en el contenido de los textos*/
    border: 1px solid #ccc;
    border-radius: 2%;
    background-color: #ffffff;
    font-size: 80%; /* Esto modifica el tamaño del contenido en el modal*/
}

.formulario form { /* Para que todo el contenido de los textos este ubicado de forma vertical*/
    display: flex;
    flex-direction: column;
}

.formulario input[type="submit"] { /* modifica la teclita de "Acceder" y "solicitar cuenta"*/
    background-color: #e44d86;
    height: 5ch;
    width: 100%;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover { /* Le pone un efecto a las teclas de "Acceder" y "Solicitar Cuenta"*/
    transform: scale(1.03);
    background-color: #963c53;
}

.formulario-inferior{ /* Modifica las teclas de "Cerrar", "Acceder" y "Registrarse"*/
    display: flex;
    justify-content: space-between;
}

.boton-modal { /* Para el diseño de las teclas "Cerrar", "Acceder" y "Registrarse"*/
    background-color: #ffffff;
    color: #292929; 
    border: 1px solid #cccccc; 
    padding: 5px 14px;
    cursor: pointer;
}

.boton-modal:hover { /* Efecto a las teclas "Cerrar", "Acceder" y "Registrarse"*/
    background-color: #eeeeee; /*color de la cajita cuando paso por arriba*/
    border-color: #c5c5c5; /* cambia color del borde */
}

#modalRegistro::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
}



/* ESTO ES DUDOSO, LO PUEDO ELIMINAR Y NO PASA NADFA*/

.registrarse-acceder { /*BOTON "CERRAR"*/ 
    background-color: #ffffff;
    color: #292929; 
    border: 1px solid #cccccc; 
    padding: 5px 14px;
    cursor: pointer;
}

.registrarse-acceder{
    background-color: #eeeeee; /*color de la cajita cuando paso por arriba*/
    border-color: #c5c5c5; /* Cambiar el color del borde al pasar el ratón */
}





/*MODAL - MENSAJE DE PAGINA EN PROCESO*/

.borde-mensaje-pagina-en-curso { /* Para ponerle un borde A "Pagina en curso" y "Aún no disponible para la venta" */
    border: 5px solid rgb(248, 187, 200);
    border-radius: 2%;
}

#mensajePaginaEnCurso::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
}

.mensaje-pagina-en-curso {
    width: 50%; /*Esto me deja responsive el contenido dentro del modal*/
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3%;
    background-color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80%;
}

.cerrar-mensaje { /*BOTON "CERRAR"*/
    background-color: #ffffff;
    color: #292929; 
    border: 1px solid #cccccc; 
    border-radius: 10%;
    padding: 3px 10px;
    cursor: pointer;
    margin-right: 1ch;
}

.cerrar-mensaje:hover {
    background-color: #eeeeee; /*color de la cajita cuando paso por arriba*/
    border-color: #c5c5c5; /* cambia color del borde */
}

.gif-pagina-en-curso { /* Esto es para modificar el tamaño del gif */
    width: 80%; 
    height: 80%; 
}

.seccion-Superior-Mensaje{
    display: flex;
    justify-content: space-between;
}

.seccion-Inferior-Mensaje {
    display: flex;
    justify-content: center; /* Esto hace que el gif este centrado*/
}


/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/*SECCION COMPLETAMENTE DEL ENCABEZADO*/

header {
    background-color: rgb(255, 247, 250);
    color: rgb(2, 2, 2);
    padding: 10px;
}

*{
    margin: 0; /*termina de completar lo que es el borde del encabezado*/
}

.encabezados { /*cambie aca*/
    display: flex;
    justify-content: space-between;
}


.encabezado-lado-izquierdo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.LOGO{
    width: 70px; 
    height: auto; 
    cursor: pointer;
}


.encabezado-centro { 
    width: 100%;
    display: flex;
    flex-direction: column;

}

.encabezado-superior { 
    display: flex;
    justify-content: center;
    margin-bottom: 0.5%; /*lo que hace es dejar un espacio entre "Ventas Claudia" y el buscador*/
}

.encabezado-inferior { /*cambie aca que decia ".encabezado-inferior"*/
    display: flex;
    justify-content: center;
}

.encabezado-buscador {
    flex: 2px; /* toma el espacio restante */
    display: flex;
    justify-content: center;
    margin: 0 10px;
    padding: 0 20px;
}

.buscador {
    width: 100% !important; 
    height: 50% !important;
    padding: 0 10px; /* espaciado interno que hay en el buscador */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.boton-buscador {
    display: flex;
    align-items: center;
    background-color: #e44d86;
    color: #fff;
    border: #ccc;
}

.boton-buscador:hover {
    background-color: #963c53;
    transform: scale(1.03);
}

.encabezado-lado-derecho {
    display: flex;
    align-items: center !important;
    justify-content: flex-end;
}

.encabezado-usuario {
    text-align: right;
}

.seccion-usuario span {
    margin-left: 20px; 
    font-size: 14px;
    color: #464545; 
}

.nav-link:hover {
    transform: scale(1.1); 
}


/*--------------------------------------------------------------------------------------------------------------------------------------------*/


/*SECCIÓN DE IMAGEN*/

.contenedor-cajita-imagen-inicial {
    max-width: 100%; 
    padding: 20px; /* para que la imagen no ocupe todo el ancho y halla un espacio ahi */
    text-align: center; /* centrar la imagen horizontalmente */
    border-radius: 10px; 
    cursor: pointer;
    
}

.Imagen-Inicial:hover {
    transform: scale(1.03);
    background-color: #963c53;
}

.Imagen-Inicial {
    width: 100%; /* para que la imagen ocupe todo el contenedor */
    height: auto; /* va a mantener las proporciones adecuadas, es automatico*/
    border-radius: 5px; 
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); /* para ponerle sombra */
    justify-content: center;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/* PAGINA PRINCIPAL - APARTADO DE VENTAS*/

.linea-horizontal{
    border: 0.1px solid rgb(255, 255, 255); /* Grosor y color de la línea */

}

.subtitulo-caja {
    border-top: 1px solid #ff0077;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    cursor: pointer;
}

img {
    width: 50px; /* Tamaño de la imagen */
    height: 50px;
    margin-right: 10px;
}

.caja-venta {
    gap: 2ch;
    padding: 18px;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Sombra */
}

.caja-venta:hover {
    transform: scale(1.1); /* Hace que la caja se agrande un 10% cuando se pasa el mouse por arriba */
}

.caja-principal-derecha{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;
}

.caja-principal-izquierda{
    margin-right: 1ch;
}

.caja-secundaria {
    margin-top: 1ch;
    text-align: center;
}


.diseño-href{ /* sin esto, se ve un subrayado en el enlace*/
    text-decoration: none; /* elimina el subrayado */
    color: inherit; /* saca el azul y hace que el color del texto siga siendo el mismo*/
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/* OTRAS PAGINAS - PRODUCTOS*/


/*PARTE SUPERIOR: FILTRO*/

.encabezado-buscador-filtro {
    flex: 2px; /* toma el espacio restante */
    display: flex;
    justify-content: center;
    padding: 1ch;
}

.boton-buscador-filtro{
    align-items: flex-end;
    background-color: #e44d86;
    color: #fff;
    border: #ccc;
}

.boton-buscador-filtro:hover {
    background-color: #963c53;
    transform: scale(1.03);
}

select { /*para modificar el select de la lista desplegable*/
    width: 200px;
    padding: 5px;
    border: 2px solid #dfdfdf; 
    border-radius: 5px; 
    color: #2b2b2b;
}

select:hover{
    background-color: #d8d6d6;
    transform: scale(1.03);
}

.fondo-contenedor-filtro {
    background-color: #fff; 
    margin: 20px;
    max-width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 0.1); /* Sombra */
}

.contenedor-filtro {
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    padding: 1ch;
}




/*PARTE INFERIOR: PRODUCTOS*/

.fondo-contenedor {
    background-color: #fff; 
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    max-width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Sombra */
}

.contenedor-producto-venta{
    width: 200px;
    margin: 3ch;
    border-radius: 10px;
    padding: 2ch;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center; /* todo el texto centrado*/
}

.contenedor-producto-venta:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.1); /* Hace que la caja se agrande un 10% cuando se pasa el mouse por arriba */
}

.contenedor-producto-venta img { /* Tuve que personalizar este porque sino las img de mi pagina principal tambien se modifican*/
    width: 100%;
    height: auto;
}

.precio { /* color rojo en las letra */
    font-weight: bold;
    color: #ff6f61;
}

.categoria { /* hace que la letra sea italic*/
    font-style: italic;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

.Volver-Pagina-Anterior{ 
    display: flex;
    justify-content: end;
    margin-right: 2ch;
}

.Boton-Volver-Pagina-Anterior{ 
    width: 120px;
    padding: 5px;
    border: 2px solid #dfdfdf; 
    border-radius: 5px; 
    color: #2b2b2b;
}

.Boton-Volver-Pagina-Anterior:hover{
    background-color: #d8d6d6;
    transform: scale(1.03);
}



/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/* FOOTER - PIE DE PAGINA*/

.pie-de-pagina{
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    
}

.datos-superior {
    margin-top: 1%;
    display: flex;
    justify-content: flex-start;
  }

.datos-mapa { /* Esto modifica donde se ubica el mapita*/
    display: flex; 
    align-items: center; 
    margin-left: 5%;
}

.mapa  { /* modifica tamaño del mapa*/
    width: 70%;
    height: 100%;
  }

.datos-vendedor{
    display: flex;
    align-items: center;
    white-space: nowrap; /* Esto hace que el texto me aparezca directo y no me haga saltos raros*/
}

.texto{
    color: #050505 !important;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    cursor: pointer;
}

.datos-vendedor p {
    margin-bottom: 0.8%; /* Para que no me quede tan separado los parrafos */
}

.datos-mios{
    color: #050505 !important;
    text-align: center;
}
